body { background-color:rgb(31, 31, 31) }
p{
    margin-bottom:0.5em;
  }
  
  .search-container{
  
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
  }
  
  input[name="search"]{
  
    margin-top:2em;
    width:510px;
    height:25px;
  }
  
  .album-info-container{
  
    margin-top:1em;
   
  }
  
  .album-info-row{
    display:flex;
    flex-direction: row;
    align-content: center;
    margin-bottom:1em;
    width: 500px;
    background:rgb(245, 245, 245);
    padding:1em;

  }
  
  .album-info{
  
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left:2em;
    
  }
  
  .placeholder{
  
    align-self: center;
    width:100px;
    height:100px;
  }
  
  .add-lib-btn{

   width:200px;
   outline:none;
   padding:1em;
   border:none;
   color:#fff;
   background-color:#E43c4b;
   box-shadow: 5px 5px 10px rgb(199, 38, 52);
  }

  .add-lib-btn:hover{

    box-shadow:none;
  }

