
*{
  margin:0;
  padding:0;
  box-sizing: content-box;
}

button{

  background:transparent;
}

.container{
  height:100vh;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  
}

.header{

  grid-column: 1/5;
}


p{
  margin-bottom:0.5em;
}

.search-container{

  grid-column: 2/4;
  grid-row: 2/3;
}

input[name="search"]{

  margin-top:2em;
  width:510px;
  height:25px;
}

.album-info-container{

  margin-top:1em;
 
}

.album-info-row{
  display:flex;
  flex-direction: row;
  margin-bottom:1em;
  max-width:70%;
}

.album-info{

  display:flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left:2em;
  
}

.placeholder{

  align-self: center;
  width:100px;
  height:100px;
}

.add-lib-btn{
  
  padding-left:1em;
  border:none;
  align-self: center;
}

.done-btn{  

  margin-top:1em;
  border:none;    
  background:#717171;
  padding:0.5em 1em;        
  color:#fff;
}

.search-hidden{

  display:none;
}

.library{

  grid-column: 2/4;
  grid-row:4/4;

}


@media screen and (min-width:320px) {

  .container{

    max-width: 320px;
  }

  div .header{

    padding:0 0.5em;
  }

  .search-container{

    grid-column: 3/3;
    grid-row: 2/2;
  }

  input[name="search"]{

    margin-top:2em;
    max-width: 300px;
    height:25px;
  }
  
  .album-info-row{
    display:flex;
    flex-direction: row;
    margin-bottom:1em;
    max-width:100%;
  }

  .album-info{


    display:flex;
    flex-direction: column;
    align-self: flex-start;
    padding:0;

  }

  .library{

    grid-column: 2/4;
    grid-row:3/4;
  
  }

  .library h1{

    text-align: center;
  }

}

@media screen and (min-width:375px){

  .container{

    max-width: 375px;
  }

  div .header{

    padding:0 0.5em;
  }

  .search-container{

    grid-column: 3/3;
    grid-row: 2/2;
    margin-bottom:1em;
  }

  

}

@media screen and (min-width:414px){

  .container{

    max-width: 414px;
  }
}

@media screen and (min-width:768px){

  .container{

    max-width: 768px;
  }

  .search-container{

    grid-column: 2/2;
    grid-row: 2/2;
    margin-bottom:1em;
  }

}

@media screen and (min-width:1024px){

  .container{

    max-width: 1024px;
  }

  .search-container{

    grid-column: 2/2;
    grid-row: 2/2;
    margin-bottom:1em;
  }

  .library{

  grid-column: 2/3;
  grid-row:4/4;
  }

}



@media screen and (min-width: 1440px){

  
  .container{

    max-width: 1440px;

  }

  div .header{

    padding:0 0.5em;
   
  }

  .search-container{

    grid-column: 2/3;
    grid-row: 2/2;
  }

  input[name="search"]{

    margin-top:2em;
    max-width: 1440px;
    height:25px;
  }
  
  .album-info-row{
    display:flex;
    flex-direction: row;
    margin-bottom:1em;
    max-width:100%;
  }

  .album-info{


    display:flex;
    flex-direction: column;
    align-self: flex-start;
    padding:0;

  }

  .library{

    grid-column: 2/4;
    grid-row:4/4;
  
  }

  .library h1{

    text-align: center;
  }

  
  
}
